.search_container{
	color:#666666;
	width:100%
}
.search_input_container{
	width:100%;
	background-color:#1ba9df;
	padding-top:0.22em;
	padding-bottom:0.19em;
}
.search_input_container>div{
	width:6.46em;
	margin:0 auto;
	border-radius:0.28em;
	background-color:#ffffff;
	height:0.64em;
	line-height:0.62em;
}
.search_input_container>div>div{
	width:calc(100% - 0.87em); 
	height:100%;
	margin-left:0.3em
}
.search_input{
	font-size: 0.3em;
    background-color: transparent;
    border: 0px;
    display: block;
	width:100%;
	height:100%;
}
.search_bottom_audio_container{
	height:2.4em;
	width:100%;
	bottom:0;
	position:absolute;
}
.search_bottom_audio_title{
	width:100%;
	text-align:center;
	height:0.36em;
	line-height:0.36em;
	color:#999999
}
.search_bottom_audio_title>div{
	width:100%;
	height:100%;
	font-size:0.27em
}
.search_bottom_img_container{
	margin-top:0.22em;
	height:auto;
	width:100%
}
.search_bottom_img_container>img{
	display:block;
	width:1.36em;
	height:auto;
	margin:0 auto
}
.search_menu_body{
   max-height:6.99em;
   width:100%;
   overflow-y:auto;
   position:absolute;
   top:1.05em;
   background-color:#ffffff
}
.search_menu_row{
	border-bottom:1px #efefef solid;
	background-image:url(../img/seach_icon_two.png);
	background-repeat: no-repeat;
	background-position:0.25em center;
	background-size:0.34em auto;
	border-bottom:1px #efefef solid;
	height:0.86em;
	line-height:0.86em;
	position:relative
}
.search_menu_row>img{
	width:0.26em;
	height:0.48em;
	position:absolute;
	right:0.3em;
	top:0.19em
}
.search_menu_row>div{
	left:0.8em;
	position:absolute;
	height:0.86em;
	line-height:0.86em;
	width:5.77em
}
.search_menu_row>div>div{
	height:100%;
	width:100%;
	font-size: 0.26em;
}
.search_no_result_container{
	margin-top:0.75em;
	width:100%;
	height:auto;
	text-align:center;
	color:#4d4d4d
}
.search_no_result_container>img{
	width:6.54em;
	margin:0 auto;
	display:block
}
.search_no_result_container>div{
	height:0.72em;
	line-height:0.72em;
}
.seach_audio_touch_icon{
	background-image:url(../img/touch_end.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
	height:1.36em;
	width:1.36em;
	margin:0 auto;
}

